*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent-section{
    background: url(IMG/hero-bg1.jpg);
    width: 100%;
    height: 87vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5%;
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: #FE5200;
    padding: 10px 60px;
}
.header h1{
    font-size: 2em;
    color: #ffff;
}
.header ul{
    display: flex;
    font-size: 1.5em;
    gap: 60px;
    list-style: none;
    font-weight: 500;
    align-items: center;
}
.header ul li a{
    text-decoration: none;
    color: white;
}
.header .leftheader{
    display: flex;
    justify-content: start;
    gap: 20px;
}
.header .btns{
    /* display: flex;
    justify-content: center; */
    gap: 10px;
    
    font-size: 40px;
}
.header .btns button{
    font-size: 0.6em;
    padding: 5px 20px;
    border: none;
    border-radius: 16px;
    background-color: #ffff;
    color: #FE5200;
    cursor: pointer;
}
.header .btns button a{
    text-decoration: none;
    color: #FE5200;
}
#sign{
    color: white;
}
#Signup{
    background-color: transparent;
    border: 1px solid #ffff;
    color: #ffff;
}
.leftheader img{
    border: 1px solid #ffff;
    border-radius: 50%;
    padding: 10px;

}
.hero-section{
    position: relative;
    
}





.hero-bottom{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 16%;
    /* border: #FEff solid; */
}
#cunto{
    width: 300px;
    height: 300px;
}
.cunto2{
    width: 250px;
    height: 200px;
    margin-top: 6%;
  
}
.hero-bottom .cunto{
    margin-left: -6%;
    margin-top: 3%;
}

.header i{
    display: none;
}

.hero-bottom #h11{
    color: white;
    font-size: 4em;
}

.sub ul{
    list-style: none;
    margin-left: 50px;
    font-size: 1.4em;
    color: white;
}

/* resturents section */

.section2{
    display: flex;
    gap: 80px;
    margin-left: 250px;
    margin-top: 150px;
}
.box1{
    width: 370px;
    height: 450px;
    background-color: rgb(202, 200, 200);
    border-radius: 20px;
    overflow: hidden;
}

.box1 img:hover{
    scale: 1.1;
    transition: 1s;
    
}

.subbox1{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-weight: 500;
}
.subbox1 i{
    color: orangered;
}

.box1 #p1{
    margin: 25px;
    font-weight: 700;
}

.box1 #p2{
    margin: 25px ;
    font-size: 1.2em;
    font-weight: bold;
    color: orangered;
}

#sub2box1{
    display: flex;
    justify-content: space-between;
    margin: 26px;
}


/* box2 */

.box2{
    width: 370px;
    height: 450px;
    background-color: rgb(202, 200, 200);
    border-radius: 20px;
    overflow: hidden;
}

.box2 img{
    width: 370px;
    height: 240px;
}

.box2 img:hover{
    scale: 1.1;
    transition: 1s;
    
}

.subbox2{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-weight: 500;
}
.subbox2 i{
    color: orangered;
}

.box2 #p1{
    margin: 25px;
    font-weight: 700;
}

.box2 #p2{
    margin: 25px ;
    font-size: 1.2em;
    font-weight: bold;
    color: orangered;
}

#sub2box2{
    display: flex;
    justify-content: space-between;
    margin: 26px;
}

/* section 3 */
.section3{
    display: flex;
    gap: 80px;
    margin-left: 250px;
    margin-top: 60px;
}


.box3{
    width: 370px;
    height: 450px;
    background-color: rgb(202, 200, 200);
    border-radius: 20px;
    overflow: hidden;
}

.box3 img{
    width: 370px;
    height: 240px;
}

.box3 img:hover{
    scale: 1.1;
    transition: 1s;
    
}

.subbox3{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-weight: 500;
}
.subbox3 i{
    color: orangered;
}

.box3 #p1{
    margin: 25px;
    font-weight: 700;
}

.box3 #p2{
    margin: 25px ;
    font-size: 1.2em;
    font-weight: bold;
    color: orangered;
}

#sub2box3{
    display: flex;
    justify-content: space-between;
    margin: 26px;
}

/* box4 */

.box4{
    width: 370px;
    height: 450px;
    background-color: rgb(202, 200, 200);
    border-radius: 20px;
    overflow: hidden;
}

.box4 img{
    width: 370px;
    height: 240px;
}

.box4 img:hover{
    scale: 1.1;
    transition: 1s;
    
}

.subbox4{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    font-weight: 500;
}
.subbox4 i{
    color: orangered;
}

.box4 #p1{
    margin: 25px;
    font-weight: 700;
}

.box4 #p2{
    margin: 25px ;
    font-size: 1.2em;
    font-weight: bold;
    color: orangered;
}

#sub2box4{
    display: flex;
    justify-content: space-between;
    margin: 26px;
}

.hall{
    position: relative;
}

/* .image5{
    position: absolute;
    left: 1150px;
    bottom: 370px;
}

.image6{
    position: absolute;
    bottom: 0px; */
/* } */

.image5{
    position: absolute;
    left: 1150px;
    bottom: 540px;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
}

@keyframes anim{
    from{
       transform: translatey(0);
    }
    to{
        transform: translatey(50px);
    }
}

.image6{
    position: absolute;
    bottom: 0px;
    animation-name: anim;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



 .section2 a{
    text-decoration: none;

}


 .section3 a{
    text-decoration: none;

}



/* .footer{
    height: 500px;
    background-color: gray;
    margin-top: 200px;
} */

footer{
    width: 100%;
    height: 100vh;
    /* background-color: #6D6D6D; */
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-content: end;
    margin-top: 10%;
    position: relative;
}
footer .minifooter{
    width: 100%;
    height: 80vh;
    background-color: #2A3040;
    /* margin-top: 5%; */
   
}
.become{
    display: flex;
    justify-content: center;
    gap: 5%;
    position: absolute;
    top: 0%;
   
    left: 20%;
    text-align: center;
    align-items: center;
    align-content: center;
    

}
.minifooter .become-partiner{
    width: 400px;
    height: 200px;
    background-color: #FFF3EE;
     border-radius: 10px;
     box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.1);


}
.minifooter .partiner{
    display: flex;
    justify-content: start;
}
.partiner img{
    margin-top: 10%;
    margin-left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.partiner .txt-partiner{
    margin-left: 20px;
    margin-top: 35px;
}
.partiner h6{
    font-size: 1.3em;
    text-align: start;
}
.partiner p{
    text-align: start;
    font-size: 12px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}
.partiner button{
    font-size: 1.2em;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: #FE5200;
    color: #fff;
    font-weight: 600;
    text-align: start;
    margin-right: 30px;
    cursor: pointer;
}
.minifooter .middle-footer{
    color: white;
    margin-top: 15%;
    display: grid ;
    grid-template-columns: 200px 200px 200px 400px;
    justify-content: center;
}
.middle-footer{
    border-bottom: #6D6D6D 1px solid;
    padding-bottom: 10px;
}
.middle-footer .logo{
    

}
.middle-footer .logo h1{
    font-size: 2em;
    padding-bottom: 20px;
}
.middle-footer .logo p{
    color: #6D6D6D;
    padding: 20px 0;
}
.links{
    margin-left: 10px;

}
.links h1{
    font-size: 1em;
    padding-bottom: 10px;
}
.links p{
    padding-top: 40px;
    color: #6D6D6D;
}
.middle-footer .information{
    padding-bottom: ;

}
.middle-footer .information h1{
    font-size: 1em;
    padding-bottom: 10px;

}
.middle-footer .information p{
    font-size: ;
    color: #6D6D6D;
    padding-top: 40px;
}
.subscribe{

}
.subscribe h1{
    font-size: 1em;
    margin-bottom: 20px;
}
.subscribe p{
    color: #6D6D6D;
    padding-top: 40px;
}
.subscribe input{
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 25px;
}
.subscribe button{
    width: 100%;
    height: 40px;
    background-color: #FE5200;
    color: #fff;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: 600;
    border-radius: 10px;

}
.copy-right{
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #2A3040;
    padding: 20px;
}
.copy-right p{
    color: #6D6D6D;
    
    
}
.copy-right .icons{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}
.copy-right i{
    background-color: #ffff;
    
    width: 30px;
    height: 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    color: #2A3040;
    
   
}

